*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs, Google Sign-In, etc.)
google-services.json

# APKs
*.apk
*.ap_
*.aab

# dex files
*.dex

# Java class files
*.class

# Log Files
*.log
crash.log
